@media (min-width:1150px){
    #katalog_avatar1{
        width: 17%;
        position: absolute;
        top:9em;
        left:1%;
    }
    #katalog_name1{
        font-size: xx-large;
        position: absolute;
        top:16%;
        left:20%;
    }
}
@media (max-width:1150px){
    #katalog_avatar1{
        width: 17%;
        position: absolute;
        top:8em;
        left:1%;
    }
    #katalog_name1{
        font-size: xx-large;
        position: absolute;
        top:16%;
        left:20%;
    }
}
@media (max-height: 750px){
    #katalog_avatar1{
        width: 17%;
        position: absolute;
        top:8em;
        left:1%;
    }
    #katalog_name1{
        font-size: xx-large;
        position: absolute;
        top:25%;
        left:20%;
    }
}
@media (max-height: 450px){
    #katalog_avatar1{
        width: 17%;
        position: absolute;
        top:8em;
        left:1%;
    }
    #katalog_name1{
        font-size: xx-large;
        position: absolute;
        top:35%;
        left:20%;
    }
}
@media (max-height: 300px){
    #katalog_avatar1{
        width: 17%;
        position: absolute;
        top:8em;
        left:1%;
    }
    #katalog_name1{
        font-size: xx-large;
        position: absolute;
        top:50%;
        left:20%;
    }
}